<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4"><span>Bienvenue, Java Hipster !</span> (Chat Dvf)</h1>

    <p class="lead">Ceci est votre page d&apos;accueil</p>

    <div>
      @if (account() !== null) {
        <div class="alert alert-success">
          @if (account()) {
            <span id="home-logged-message">Vous êtes connecté en tant que &quot;{{ account()!.login }}&quot;.</span>

            <jhi-chat></jhi-chat>
          }
        </div>
      } @else {
        <div class="alert alert-warning">
          <span>Si vous voulez vous </span>
          <a class="alert-link" (click)="login()">connecter</a
          ><span
            >, vous pouvez utiliser les comptes par défaut : <br />
            - Administrateur (nom d&apos;utilisateur=&quot;admin&quot; et mot de passe =&quot;admin&quot;) <br />
            - Utilisateur (nom d&apos;utilisateur=&quot;user&quot; et mot de passe =&quot;user&quot;).</span
          >
        </div>

        <div class="alert alert-warning">
          <span>Vous n&apos;avez pas encore de compte ?</span>&nbsp;
          <a class="alert-link" routerLink="/account/register">Créer un compte</a>
        </div>
      }
    </div>
  </div>
</div>
