@if (vectorStore) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(vectorStore.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="vectorStoreDeleteDialogHeading">Confirmation de suppression</h4>

      <span class="btn btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()"></span>
    </div>

    <div class="modal-body">
      <jhi-alert-error></jhi-alert-error>
      <p id="jhi-delete-vectorStore-heading">Êtes-vous certain de vouloir supprimer le Vector Store {{ vectorStore.id }} ?</p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
      </button>

      <button id="jhi-confirm-delete-vectorStore" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span>Supprimer</span>
      </button>
    </div>
  </form>
}
